.body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 2;
    color: seagreen;
}

.main {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 2;
    color: seagreen;
}